<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../node_modules/fr-tabs/tabs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <title>Component | Article</title>
</head>
<body>

<header class="header">
    <div class="navigation wrapper--base">
        <a href="../../index.html" class="logo logo__white">GridPatternLab</a>
        <nav class="site-nav">
            <ul>
                <li><a class="btn-help" href="../../help/index.html">Need Help?</a></li>
                <li><a class="btn-github" href="https://github.com/livevie/gridpatternlab">View on Github</a></li>
            </ul>
        </nav>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">component/article section</span>
                <span class="heading-primary--sub">Article section</span>
            </h1>
        </div>
    </div>
</header>

<main class="main wrapper--base">
    <section class="section__gallery">
        <div class="description">
            <h2>Component Description</h2>
            <p>The article component is one which is very often used on websites. It can also be created with display: flex or float, but it's difficult to display the image and text in exactly the same size and with a space between them, without wrapping the entire content. This requires widths, margins or paddings.
                <br><br>With CSS Grid it's possible to align elements to a grid. In this example the article container is defined in a 12-column grid and the elements are aligned within this grid. <code>grid-gap</code> defines the distance between the elements within the grid.</p>
        </div>


        <div class="support">I have to support:<br />
            <span class="js-support"></span>
            <div>
                <input type="range" name="" id="" min="1" max="3" step="1" value="3" class="js-support-selection">
            </div>
        </div>

        <h2>Code</h2>
        <div class="fr-tabs js-fr-tabs">
            <ul class="fr-tabs__tablist js-fr-tabs__tablist">
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab1" href="#panel1">CSS</a>
                </li>
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab2" href="#panel2">HTML</a>
                </li>
            </ul>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel1">
                <div class="css js-css-display"></div>
            </section>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel2">
                <div class="html">&lt;div class=&quot;container&quot;&gt;
    &lt;article class=&quot;article&quot;&gt;
        &lt;figure class=&quot;article__media&quot;&gt;
            &lt;img src=&quot;https://source.unsplash.com/Y3PD_9c2xms&quot; alt=&quot;Mountains&quot; /&gt;
        &lt;/figure&gt;
        &lt;div class=&quot;article__text&quot;&gt;
            &lt;h3&gt;Article Headline&lt;/h3&gt;
            &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Morbi tincidunt ornare massa eget egestas purus viverra. Elementum integer enim neque
            volutpat ac tincidunt vitae semper quis. Dictum varius duis at consectetur lorem donec massa sapien.
            Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Ultrices eros in cursus turpis massa
            tincidunt dui. Quis risus sed vulputate odio. Sodales ut etiam sit amet nisl purus in. Libero justo
            laoreet sit amet cursus sit amet dictum. Donec adipiscing tristique risus nec feugiat. Bibendum ut
            tristique et egestas quis ipsum suspendisse ultrices.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/article&gt;
&lt;/div&gt;
                </div>
            </section>
        </div>

        <h2>Component</h2>
        <div class="js-support-toggle">
            <p>Toggle the checkboxes to see how the component looks like in …</p>
        </div>

        <div class="container">
            <article class="article">
                <figure class="article__media">
                    <img src="https://source.unsplash.com/Y3PD_9c2xms" alt="Mountains" />
                </figure>
                <div class="article__text">
                    <h3>Article Headline</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tincidunt ornare massa eget egestas purus viverra. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Dictum varius duis at consectetur lorem donec massa sapien. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Ultrices eros in cursus turpis massa tincidunt dui. Quis risus sed vulputate odio. Sodales ut etiam sit amet nisl purus in. Libero justo laoreet sit amet cursus sit amet dictum.</p>
                </div>
            </article>
        </div>

        <style class="js-css-rendered"></style>
    </section>
</main>

<footer class="footer">
    <div class="footer__logo-box wrapper--base">
        <a href="#" class="logo logo__black">GridPatternLab</a>
    </div>
    <div class="footer__info wrapper--base">
        <div class="footer__copyright">
            <span>Manuela Abdalla & Manuel Matuzovic &copy; 2019. All rights reserved.</span>
        </div>
        <div class="footer__social">
            <a href="https://github.com/livevie/gridpatternlab"><img src="../../img/github.svg" alt="Github Icon"></a>
        </div>
    </div>
</footer>
<script src="../../js/cssbeautify.js"></script>
<script src="../../js/article.js"></script>
<script src="../../js/renderComponent.js"></script>
<script src="../../node_modules/fr-tabs/dist/frtabs.min.js"></script>
<script src="../../js/frTabs.js"></script>
</body>
</html>
