<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../node_modules/fr-tabs/tabs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Component | Aspect Ratio Boxes</title>
</head>
<body>

<header class="header">
    <div class="navigation wrapper--base">
        <a href="../../index.html" class="logo logo__white">GridPatternLab</a>
        <nav class="site-nav">
            <ul>
                <li><a class="btn-help" href="../../help/index.html">Need Help?</a></li>
                <li><a class="btn-github" href="https://github.com/livevie/gridpatternlab">View on Github</a></li>
            </ul>
        </nav>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">component/aspect ratio boxes</span>
                <span class="heading-primary--sub">Aspect ratio box layout</span>
            </h1>
        </div>
    </div>
</header>

<main class="main wrapper--base">
    <section class="section__gallery">
        <div class="description">
            <h2>Component Description</h2>
            <p>This aspect ratio boxes layout based on equal sized square grid cells, where grid items could span one or two cells on the row and/or column axis. In other words, the grid cells needed to maintain an aspect ratio (1:1 in this case), but the actual grid items did not necessarily.<br><br>
                Doing Components like this involves trickery with padding such that an element's width and height are in proportion to your need, but it's possible with CSS Grid.<br><br>
                Here we’re going to use <code>grid-template-columns</code> and <code>grid-auto-rows</code> to define our grid. <code>grid-auto-rows</code> is a useful alternative to <code>grid-template-rows</code> for defining implicitly created grid tracks for the case we don't know how many rows there will be, but we want them all to be the same height.<br><br>
                In this particular grid we can let CSS Grid’s auto placement algorithm do some of the work. The small grid items should span a single cell and follow the normal flow. The large grid items should span two tracks in either direction.<br><br>
                If you want the rest of the items to fill in any spaces you can use <code>grid-auto-flow: dense;</code> on the grid container, otherwise any subsequent items will simply take the next place in the flow.</p>
        </div>


        <div class="support">I have to support:<br />
            <span class="js-support"></span>
            <div>
                <input type="range" name="" id="" min="1" max="3" step="1" value="3" class="js-support-selection">
            </div>
        </div>

        <h2>Code</h2>
        <div class="fr-tabs js-fr-tabs">
            <ul class="fr-tabs__tablist js-fr-tabs__tablist">
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab1" href="#panel1">CSS</a>
                </li>
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab2" href="#panel2">HTML</a>
                </li>
            </ul>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel1">
                <div class="css js-css-display"></div>
            </section>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel2">
                <div class="html">&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;item item__lg&quot;&gt;1&lt;/div&gt;
    &lt;div class=&quot;item item__sm&quot;&gt;2&lt;/div&gt;
    &lt;div class=&quot;item item__sm&quot;&gt;3&lt;/div&gt;
    &lt;div class=&quot;item item__db&quot;&gt;4&lt;/div&gt;
&lt;/div&gt;
                </div>
            </section>
        </div>

        <h2>Component Preview</h2>

        <div class="note">Note: This behaviour is only possible with css grid without changing the HTML Markup or using JavaScript.</div>

        <div class="js-support-toggle">
            <p>Toggle the checkboxes to see how the component looks like in …</p>
        </div>

        <div class="container">
            <div class="item item__lg">1</div>
            <div class="item item__sm">2</div>
            <div class="item item__sm">3</div>
            <div class="item item__db">4</div>
        </div>

        <style class="js-css-rendered"></style>
    </section>
</main>

<footer class="footer">
    <div class="footer__logo-box wrapper--base">
        <a href="#" class="logo logo__black">GridPatternLab</a>
    </div>
    <div class="footer__info wrapper--base">
        <div class="footer__copyright">
            <span>Manuela Abdalla & Manuel Matuzovic &copy; 2019. All rights reserved.</span>
        </div>
        <div class="footer__social">
            <a href="https://github.com/livevie/gridpatternlab"><img src="../../img/github.svg" alt="Github Icon"></a>
        </div>
    </div>
</footer>
<script src="../../js/cssbeautify.js"></script>
<script src="../../js/aspectratio.js"></script>
<script src="../../js/renderComponent.js"></script>
<script src="../../node_modules/fr-tabs/dist/frtabs.min.js"></script>
<script src="../../js/frTabs.js"></script>
</body>
</html>
