<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../node_modules/fr-tabs/tabs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <title>Component | Card</title>
</head>
<body>

<header class="header">
    <div class="navigation wrapper--base">
        <a href="../../index.html" class="logo logo__white">GridPatternLab</a>
        <nav class="site-nav">
            <ul>
                <li><a class="btn-help" href="../../help/index.html">Need Help?</a></li>
                <li><a class="btn-github" href="https://github.com/livevie/gridpatternlab">View on Github</a></li>
            </ul>
        </nav>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">component/card</span>
                <span class="heading-primary--sub">Responsive Card</span>
            </h1>
        </div>
    </div>
</header>

<main class="main wrapper--base">
    <section class="section__gallery">
        <div class="description">
            <h2>Component Description</h2>
            <p>This card component shows another strength of CSS Grid. Depending on the size of the viewport, the display of the component is changed without attacking the markup.  This only works with the definition of grid-template-areas.<br><br>
                The card component gets a 3 column grid and is defined with the following areas: <strong>"photo", "header" and "description"</strong>. To display the image <i>left</i> and header/description <i>right</i> for a big viewport, the card container must display the areas as follows: <code>grid-template-areas: "photo header header" "photo description description";</code>. 1 column and 2 rows for the image, 2 columns and 2 rows for the header and the description.<br><br>
                This behaviour can also be easily simulated with <code>display: flex</code> or <code>float</code>. But what to do if on mobile phones or tablets the elements should be positioned differently? Without JavaScript this was not possible.<br><br>
                <code>grid-template-areas</code> makes this possible. You redefine the areas in the desired viewport size. In this case, with a viewport size of 768px, the areas are displayed as follows: <code>grid-template-areas: "header header header" "photo photo photo" "description" "description" "description" ;</code>. <br><br>
                This is a simple and elegant solution to avoid manipulating the HTML markup with JavaScript.</p>

            <div class="description__img">
                <div class="img__behavior">
                    <span>HTML Markup order:<br><br> Image, Header, Description</span>
                    <img src="/img/card_behavior2.png" alt="Card Behavior">
                </div>
                <div class="img__behavior">
                    <span>Changed order of elements without changing the HTML markup with <code>grid-template-areas</code> to:<br> Header, Image, Description</span>
                    <img src="/img/card_behavior1.png" alt="Card Behavior">
                </div>
            </div>
        </div>


        <div class="support">I have to support:<br />
            <span class="js-support"></span>
            <div>
                <input type="range" name="" id="" min="1" max="3" step="1" value="3" class="js-support-selection">
            </div>
        </div>

        <h2>Code</h2>
        <div class="fr-tabs js-fr-tabs">
            <ul class="fr-tabs__tablist js-fr-tabs__tablist">
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab1" href="#panel1">CSS</a>
                </li>
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab2" href="#panel2">HTML</a>
                </li>
            </ul>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel1">
                <div class="css js-css-display"></div>
            </section>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel2">
                <div class="html">&lt;section&gt;
    &lt;article class=&quot;card&quot;&gt;
        &lt;figure class=&quot;card__img&quot;&gt;&lt;img src=&quot;https://source.unsplash.com/Fkc2KrT_5cA&quot; alt=&quot;&quot;&gt;&lt;/figure&gt;
        &lt;h3 class=&quot;card__header&quot;&gt;Header&lt;/h3&gt;
        &lt;p class=&quot;card__description&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.&lt;/p&gt;
    &lt;/article&gt;
&lt;/section&gt;
                </div>
            </section>
        </div>

        <h2>Component Preview</h2>
        <div class="note">Note: This behaviour is only possible with css grid without changing the HTML Markup or using JavaScript.</div>

        <div class="js-support-toggle">
            <p>Toggle the checkboxes to see how the component looks like in …</p>
        </div>

        <section>
            <article class="card">
                <figure class="card__img"><img src="https://source.unsplash.com/Fkc2KrT_5cA" alt=""></figure>
                <h3 class="card__header">Header</h3>
                <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </article>
        </section>

        <style class="js-css-rendered"></style>
    </section>
</main>

<footer class="footer">
    <div class="footer__logo-box wrapper--base">
        <a href="#" class="logo logo__black">GridPatternLab</a>
    </div>
    <div class="footer__info wrapper--base">
        <div class="footer__copyright">
            <span>Manuela Abdalla & Manuel Matuzovic &copy; 2019. All rights reserved.</span>
        </div>
        <div class="footer__social">
            <a href="https://github.com/livevie/gridpatternlab"><img src="../../img/github.svg" alt="Github Icon"></a>
        </div>
    </div>
</footer>
<script src="../../js/cssbeautify.js"></script>
<script src="../../js/card.js"></script>
<script src="../../js/renderComponent.js"></script>
<script src="../../node_modules/fr-tabs/dist/frtabs.min.js"></script>
<script src="../../js/frTabs.js"></script>
</body>
</html>
