<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../node_modules/fr-tabs/tabs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <title>Component | Content dependent column</title>
</head>
<body>

<header class="header">
    <div class="navigation wrapper--base">
        <a href="../../index.html" class="logo logo__white">GridPatternLab</a>
        <nav class="site-nav">
            <ul>
                <li><a class="btn-help" href="../../help/index.html">Need Help?</a></li>
                <li><a class="btn-github" href="https://github.com/livevie/gridpatternlab">View on Github</a></li>
            </ul>
        </nav>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">component/content dependent column</span>
                <span class="heading-primary--sub">Column as wide as widest child item content</span>
            </h1>
        </div>
    </div>
</header>

<main class="main wrapper--base">
    <section class="section__gallery">
        <div class="description">
            <h2>Component Description</h2>
            <p>Setting content-dependent columns is only possible with css grid. <code>display: flex</code> or <code>float</code> gives you the possibility to create multi-column layouts, but these are always defined with a fixed width and are not flexible according to content.
                <br><br>By creating <code>grid-template-columns</code> you can precisely define the flexibility of a grid layout and adjust it to your needs. <code>max-content</code> specifies the maximum size the content needs without wrapping the text</p>
        </div>


        <div class="support">I have to support:<br />
            <span class="js-support"></span>
            <div>
                <input type="range" name="" id="" min="1" max="3" step="1" value="3" class="js-support-selection">
            </div>
        </div>

        <h2>Code</h2>
        <div class="fr-tabs js-fr-tabs">
            <ul class="fr-tabs__tablist js-fr-tabs__tablist">
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab1" href="#panel1">CSS</a>
                </li>
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab2" href="#panel2">HTML</a>
                </li>
            </ul>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel1">
                <div class="css js-css-display"></div>
            </section>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel2">
                <div class="html">&lt;div class=&quot;description__list&quot;&gt;
    &lt;span class=&quot;description__item&quot;&gt;Question: Can you tell me a little about yourself ?&lt;/span&gt;
    &lt;span class=&quot;description__item&quot;&gt;Answer: I&apos;m a 27 year old student and love reading books&lt;/span&gt;

    &lt;span class=&quot;description__item&quot;&gt;Question: Where do you live ?&lt;/span&gt;
    &lt;span class=&quot;description__item&quot;&gt;Answer: I live in Vienna, Austria&lt;/span&gt;

    &lt;span class=&quot;description__item&quot;&gt;Question: What&apos;s your favorite food ?&lt;/span&gt;
    &lt;span class=&quot;description__item&quot;&gt;Answer: Pizza&lt;/span&gt;

    &lt;span class=&quot;description__item&quot;&gt;Question: Favorite Book ?&lt;/span&gt;
    &lt;span class=&quot;description__item&quot;&gt;Answer: Harry Potter&lt;/span&gt;
&lt;/div&gt;
                </div>
            </section>
        </div>

        <h2>Component Preview</h2>

        <div class="note">Note: This column behaviour is only possible with css grid without setting a fixed width.</div>

        <div class="js-support-toggle">
            <p>Toggle the checkboxes to see how the component looks like in …</p>
        </div>

        <div class="description__list">
            <span class="description__item">Question: Can you tell me a little about yourself ?</span>
            <span class="description__item">Answer: I'm a 27 year old student and love reading books</span>

            <span class="description__item">Question: Where do you live ?</span>
            <span class="description__item">Answer: I live in Vienna, Austria</span>

            <span class="description__item">Question: What's your favorite food ?</span>
            <span class="description__item">Answer: Pizza</span>

            <span class="description__item">Question: Favorite Book ?</span>
            <span class="description__item">Answer: Harry Potter</span>
        </div>

        <style class="js-css-rendered"></style>
    </section>
</main>

<footer class="footer">
    <div class="footer__logo-box wrapper--base">
        <a href="#" class="logo logo__black">GridPatternLab</a>
    </div>
    <div class="footer__info wrapper--base">
        <div class="footer__copyright">
            <span>Manuela Abdalla & Manuel Matuzovic &copy; 2019. All rights reserved.</span>
        </div>
        <div class="footer__social">
            <a href="https://github.com/livevie/gridpatternlab"><img src="../../img/github.svg" alt="Github Icon"></a>
        </div>
    </div>
</footer>
<script src="../../js/cssbeautify.js"></script>
<script src="../../js/wide.js"></script>
<script src="../../js/renderComponent.js"></script>
<script src="../../node_modules/fr-tabs/dist/frtabs.min.js"></script>
<script src="../../js/frTabs.js"></script>
</body>
</html>
