<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../node_modules/fr-tabs/tabs.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Component | Gallery</title>
</head>
<body>

<header class="header">
    <div class="navigation wrapper--base">
        <a href="../../index.html" class="logo logo__white">GridPatternLab</a>
        <nav class="site-nav">
            <ul>
                <li><a class="btn-help" href="../../help/index.html">Need Help?</a></li>
                <li><a class="btn-github" href="https://github.com/livevie/gridpatternlab">View on Github</a></li>
            </ul>
        </nav>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">component/gallery</span>
                <span class="heading-primary--sub">Responsive image gallery</span>
            </h1>
        </div>
    </div>
</header>

<main class="main wrapper--base">
    <section class="section__gallery">
        <div class="description">
            <h2>Component Description</h2>
            <p>The gallery component should be easy to implement with <code>display: flex</code> or <code>display: inline-block</code>. But it's not. For both solutions an additional margin is required, which has to be the same on all sides to create a distance between the gallery images. However, there is also a mandatory gap at the edges, which is often undesirable. In addition, in the case of inline block elements, they interpret
                <a href="https://css-tricks.com/fighting-the-space-between-inline-block-elements/" target="_blank">white-space in the markup</a> in a way that introduces extra unwanted space between each item. You can get rid of this extra spaces, but you’ll have to implement one of several workarounds.<br><br>
            CSS Grid has the perfect solution for this problems: adding <code>grid-gap</code> to the component container. This solution creates space only between the individual elements.</p>
        </div>
        
        
        <div class="support">I have to support:<br />
            <span class="js-support"></span>
            <div>
                <input type="range" name="" id="" min="1" max="3" step="1" value="3" class="js-support-selection">
            </div>
        </div>
        
        <h2>Code</h2>
        <div class="fr-tabs js-fr-tabs">
            <ul class="fr-tabs__tablist js-fr-tabs__tablist">
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab1" href="#panel1">CSS</a>
                </li>
                <li class="fr-tabs__tablist-item">
                    <a class="fr-tabs__tab" id="tab2" href="#panel2">HTML</a>
                </li>
            </ul>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel1">
                <div class="css js-css-display"></div>
            </section>
            <section class="fr-tabs__panel js-fr-tabs__panel" id="panel2">
                <div class="html">&lt;div class=&quot;gallery&quot;&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;photo&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </section>
        </div>

        <h2>Component Preview</h2>
        <div class="js-support-toggle">
            <p>Toggle the checkboxes to see how the component looks like in …</p>
        </div>
        
        <div class="gallery">
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
            <div class="photo"></div>
        </div>

        <style class="js-css-rendered"></style>
    </section>
</main>

<footer class="footer">
    <div class="footer__logo-box wrapper--base">
        <a href="#" class="logo logo__black">GridPatternLab</a>
    </div>
    <div class="footer__info wrapper--base">
        <div class="footer__copyright">
            <span>Manuela Abdalla & Manuel Matuzovic &copy; 2019. All rights reserved.</span>
        </div>
        <div class="footer__social">
            <a href="https://github.com/livevie/gridpatternlab"><img src="../../img/github.svg" alt="Github Icon"></a>
        </div>
    </div>
</footer>
<script src="../../js/cssbeautify.js"></script>
<script src="../../js/gallery.js"></script>
<script src="../../js/renderComponent.js"></script>
<script src="../../node_modules/fr-tabs/dist/frtabs.min.js"></script>
<script src="../../js/frTabs.js"></script>
</body>
</html>
